.dashboard-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 1001;
}

.dashboard-modal .dashboard-container {
  max-height: 90vh;
  width: 80%;
  min-height: 70vh;
  margin-left: auto;
  margin-right: auto;
  background-color: #212121;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.25);
}

.dashboard-modal .dashboard-container .dashboard-container-header {
  padding: 16px 32px;
  border-bottom: 1px solid #323232;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dashboard-modal .dashboard-container .dashboard-container-title {
  display: flex;
  align-items: center;
  gap: 8px;
  line-height: 1;
  font-weight: 700;
  font-size: 1.125;
  color: rgba(255, 255, 255, 0.87);
}

.dashboard-modal .dashboard-container .dashboard-container-body {
  padding: 24px 32px 51px;
  overflow-y: auto;
}

.dashboard-modal .rtf h1,
.dashboard-modal .rtf h2,
.dashboard-modal .rtf h3,
.dashboard-modal .rtf h4,
.dashboard-modal .rtf h5,
.dashboard-modal .rtf h6 {
  font-weight: 700;
}
.dashboard-modal .rtf h1 {
  font-size: 1.5rem;
  line-height: 1.125;
  color: rgba(255, 255, 255, 0.87);
}
.dashboard-modal .rtf h2 {
  font-size: 1.25rem;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.87);
}
.dashboard-modal .rtf h3 {
  font-size: 1rem;
  line-height: 1.5;
}
.dashboard-modal .rtf > * + * {
  margin-top: 1em;
}
.dashboard-modal .rtf self > * + :is(h1, h2, h3) {
  margin-top: 2em;
}
.dashboard-modal .rtf self > :is(h1, h2, h3) + * {
  margin-top: 0.75em;
}

.dashboard-modal .rtf p {
  color: rgba(255, 255, 255, 0.6);
}
.dashboard-modal .rtf ul,
.dashboard-modal .rtf ol {
  margin-left: 20px;
  list-style-position: inside;
}
.dashboard-modal .rtf ol {
  list-style: numeric;
}
.dashboard-modal .rtf ul {
  list-style: disc;
}

.dashboard-modal .icon-button {
  padding: 0;
  border: 0;
  background-color: transparent;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  cursor: pointer;
  border-radius: 8px;
  transition: 0.15s ease;
  color: rgba(255, 255, 255, 0.87);
}
.dashboard-modal .icon-button i {
  width: 24px;
  height: 24px;
  transition: all 0.5s ease;
}
.dashboard-modal .icon-button:hover,
.dashboard-modal .icon-button:focus {
  background-color: #fedc00;
  color: #161616;
}

.dashboard-modal .menuBtn {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0 auto;
  text-transform: uppercase;
  border: 1px solid #fedc00;
  background-color: transparent;
  color: #000;
  z-index: 1;
  border-radius: 5px;
  height: 100px;
  width: 110px;
  transition: all 0.5s ease-in-out;
}
.dashboard-modal .menuBtn {
  color: #000;
}

.dashboard-modal .menuBtn i{
  font-size: 50px;
  color: #fedc00;
  transition: all 0.5s ease-in-out;
}

.dashboard-modal .menuBtn:hover i{
  color: #000;
}

.dashboard-modal .menuText{
  color: #fedc00;
  transition: all 0.5s ease-in-out;
}

.dashboard-modal .menuBtn:hover .menuText{
  color: rgba(255, 255, 255, 0.87);
}

.dashboard-modal .menuBtn:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.dashboard-modal .menuBtn:hover {
  color: #fedc00;
  border: 1px solid currentColor;
  transform: translateX(0%);
  background-color: #fedc00;
}
.dashboard-modal .menuBtn:hover:before {
  transform: translateX(0);
}
