.main-content
  .order-content
  .order-content-header
  .order-content-header-container {
  max-width: 1140px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.main-content
  .order-content
  .order-content-header
  .order-content-header-container
  .order-content-header-filters {
  padding: 1rem 15px;
  margin-right: -15px;
  margin-left: -15px;
  display: grid;
  grid-template-areas: "orderType statusFilter priceFilter";
  grid-column-gap: 15px;
  -webkit-column-gap: 15px;
  -moz-column-gap: 15px;
  column-gap: 15px;
  grid-row-gap: 10px;
  row-gap: 10px;
}

.main-content
  .order-content
  .order-content-header
  .order-content-header-container
  .order-content-header-filters
  .order-filter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.main-content
  .order-content
  .order-content-header
  .order-content-header-container
  .order-content-header-filters
  .order-filter.orderTypeFilter {
  grid-area: orderType;
}

.main-content
  .order-content
  .order-content-header
  .order-content-header-container
  .order-content-header-filters
  .order-filter.statusFilter {
  grid-area: statusFilter;
}

.main-content
  .order-content
  .order-content-header
  .order-content-header-container
  .order-content-header-filters
  .order-filter.priceFilter {
  grid-area: priceFilter;
}

.main-content
  .order-content
  .order-content-header
  .order-content-header-container
  .order-content-header-filters
  .order-filter
  .order-type-filter-block {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-column-gap: 0%;
  margin-top: 10px;
}

.main-content
  .order-content
  .order-content-header
  .order-content-header-container
  .order-content-header-filters
  .order-filter
  .order-type-filter-block2 {
  display: flex;
  margin-top: 10px;
}

.main-content
  .order-content
  .order-content-header
  .order-content-header-container
  .order-content-header-filters
  .order-filter
  .order-type-filter-block
  .custom-radio-button__container
  input[type="radio"],
.main-content
  .order-content
  .order-content-header
  .order-content-header-container
  .order-content-header-filters
  .order-filter
  .order-type-filter-block2
  .custom-radio-button__container
  input[type="radio"] {
  display: none;
}

.main-content
  .order-content
  .order-content-header
  .order-content-header-container
  .order-content-header-filters
  .order-filter
  .order-text {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.87);
  font-weight: 400;
  margin-bottom: 0.3rem;
}

.main-content
  .order-content
  .order-content-header
  .order-content-header-container
  .order-content-header-filters
  .order-filter
  .order-type-filter-block
  .custom-radio-button,
.main-content
  .order-content
  .order-content-header
  .order-content-header-container
  .order-content-header-filters
  .order-filter
  .order-type-filter-block2
  .custom-radio-button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 60px;
  border: 1px solid rgba(255, 255, 255, 0.05);
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  font-size: 13px;
  background-color: #161616;
}

.main-content
  .order-content
  .order-content-header
  .order-content-header-container
  .order-content-header-filters
  .order-filter
  .order-type-filter-block2
  .custom-radio-button.allstatus {
  border-right: none;
}

.main-content
  .order-content
  .order-content-header
  .order-content-header-container
  .order-content-header-filters
  .order-filter
  .order-type-filter-block2
  .custom-radio-button.ingame {
  border-right: none;
  border-left: none;
}

.main-content
  .order-content
  .order-content-header
  .order-content-header-container
  .order-content-header-filters
  .order-filter
  .order-type-filter-block2
  .custom-radio-button.online {
  border-left: none;
}

.main-content
  .order-content
  .order-content-header
  .order-content-header-container
  .order-content-header-filters
  .order-filter
  .order-type-filter-block
  .custom-radio-button
  h3,
.main-content
  .order-content
  .order-content-header
  .order-content-header-container
  .order-content-header-filters
  .order-filter
  .order-type-filter-block2
  .custom-radio-button
  h3 {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 500;
  font-size: 1.375rem;
  letter-spacing: 1px;
  text-align: center;
}
.main-content
  .order-content
  .order-content-header
  .order-content-header-container
  .order-content-header-filters
  .order-filter
  .order-type-filter-block
  .custom-radio-button__container
  input[type="radio"]:checked
  + .custom-radio-button,
.main-content
  .order-content
  .order-content-header
  .order-content-header-container
  .order-content-header-filters
  .order-filter
  .order-type-filter-block2
  .custom-radio-button__container
  input[type="radio"]:checked
  + .custom-radio-button {
  box-shadow: 0px 0px 16px -6px rgba(0, 0, 0, 0.5);
  background-color: #fedc00;
  color: #000;
}
.main-content
  .order-content
  .order-content-header
  .order-content-header-container
  .order-content-header-filters
  .order-filter
  .order-type-filter-block2
  .custom-radio-button__container
  input[type="radio"]:checked
  + .custom-radio-button.allstatus {
  border-right: none;
}

.main-content
  .order-content
  .order-content-header
  .order-content-header-container
  .order-content-header-filters
  .order-filter
  .order-type-filter-block2
  .custom-radio-button__container
  input[type="radio"]:checked
  + .custom-radio-button.ingame {
  border-left: none;
  border-right: none;
}

.main-content
  .order-content
  .order-content-header
  .order-content-header-container
  .order-content-header-filters
  .order-filter
  .order-type-filter-block2
  .custom-radio-button__container
  input[type="radio"]:checked
  + .custom-radio-button.online {
  border-left: none;
}

.main-content
  .order-content
  .order-content-header
  .order-content-header-container
  .order-content-header-filters
  .order-filter
  .order-type-filter-block
  .custom-radio-button__container
  input[type="radio"]:checked
  + .custom-radio-button
  h3,
.main-content
  .order-content
  .order-content-header
  .order-content-header-container
  .order-content-header-filters
  .order-filter
  .order-type-filter-block2
  .custom-radio-button__container
  input[type="radio"]:checked
  + .custom-radio-button
  h3 {
  color: #fedc00;
}
.main-content
  .order-content
  .order-content-header
  .order-content-header-container
  .order-content-header-filters
  .order-filter.priceFilter
  div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 5px 0;
}

.main-content
  .order-content
  .order-content-header
  .order-content-header-container
  .order-content-header-filters
  .order-filter.priceFilter
  h5 {
  line-height: 20px;
  margin-bottom: initial;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.87);
}

.main-content
  .order-content
  .order-content-header
  .order-content-header-container
  .order-content-header-filters
  .order-filter.priceFilter
  input[type="number"] {
  background: #161616;
  border: 0 solid;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  outline: 0;
  font-size: 12px;
  margin: 0 10px;
  transition: all 0.3s ease-in-out;
}

.main-content
  .order-content
  .order-content-header
  .order-content-header-container
  .order-content-header-filters
  .order-filter.priceFilter
  input[type="number"]::-webkit-inner-spin-button,
.main-content
  .order-content
  .order-content-header
  .order-content-header-container
  .order-content-header-filters
  .order-filter.priceFilter
  input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.main-content
  .order-content
  .order-content-header
  .order-content-header-container
  .order-content-header-filters
  .order-filter.priceFilter
  input[type="number"]:focus {
  border-bottom: 1px solid #fedc00;
}

.main-content
  .order-content
  .order-content-header
  .order-content-header-container
  .order-content-header-filters
  .order-filter.priceFilter
  input[type="number"]::placeholder {
  font-size: 12px;
}

.main-content
  .order-content
  .order-content-header
  .order-content-header-container
  .order-content-header-filters
  .order-filter.priceFilter
  input {
  line-height: 20px;
}

.main-content .order-content .order-content-body {
  background: #161616;
  flex-grow: 1;
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
  transition: background 0.3s ease-in-out;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.main-content .order-content .order-content-body .order-content-body-container {
  max-width: 1140px;
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.main-content
  .order-content
  .order-content-body
  .order-content-body-container
  .table {
  border-spacing: 0 15px;
}

.main-content
  .order-content
  .order-content-body
  .order-content-body-container
  i {
  font-size: 1rem !important;
}

.main-content
  .order-content
  .order-content-body
  .order-content-body-container
  table
  tr
  th {
  font-size: 14px;
  background-color: #262626;
}
.main-content
  .order-content
  .order-content-body
  .order-content-body-container
  table
  td {
  max-height: 70px;
}

.main-content
  .order-content
  .order-content-body
  .order-content-body-container
  table
  tr
  th
  i {
  font-size: 10px !important;
  line-height: 10px;
  transition: transform 300ms ease-out, -webkit-transform 300ms ease-out;
}

.main-content
  .order-content
  .order-content-body
  .order-content-body-container
  table
  tr:nth-child(even) {
  background-color: #262626;
}

.main-content
  .order-content
  .order-content-body
  .order-content-body-container
  table
  tr:nth-child(odd) {
  background-color: #161616;
}

.main-content
  .order-content
  .order-content-body
  .order-content-body-container
  table
  .order-type-marker {
  border-radius: 3px;
  white-space: nowrap;
  letter-spacing: 0.1em;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  text-align: center;
  font-size: 12px;
  text-transform: uppercase;
}
.main-content
  .order-content
  .order-content-body
  .order-content-body-container
  table
  .order-type-marker.wtb {
  color: rgb(50, 205, 50);
  background: rgba(27, 128, 27, 0.6);
}

.main-content
  .order-content
  .order-content-body
  .order-content-body-container
  table
  .order-type-marker.wts {
  color: rgb(255, 99, 71);
  background: rgba(184, 65, 44, 0.6);
}

.main-content
  .order-content
  .order-content-body
  .order-content-body-container
  table
  .status-ingame {
  background-color: mediumpurple;
  color: rgba(255, 255, 255, 0.87);
}

.main-content
  .order-content
  .order-content-body
  .order-content-body-container
  table
  .status-online {
  background-color: green;
  color: rgba(255, 255, 255, 0.87);
}

.main-content
  .order-content
  .order-content-body
  .order-content-body-container
  table
  .status-invisible {
  background-color: darkgray;
  color: rgba(255, 255, 255, 0.87);
}

.main-content
  .order-content
  .order-content-body
  .order-content-body-container
  table
  .badRep {
  color: #ff0000;
  font-weight: 400;
}

.main-content
  .order-content
  .order-content-body
  .order-content-body-container
  table
  .goodRep {
  color: #32cd32;
  font-weight: 400;
}

.main-content
  .order-content
  .order-content-body
  .order-content-body-container
  table
  .niceRep {
  color: #ffd700;
  font-weight: 400;
}

.main-content
  .order-content
  .order-content-body
  .order-content-body-container
  table
  .inputWhisper {
  max-height: 70px;
  height: 70px;
  width: 100%;
  position: relative;
}

.main-content
  .order-content
  .order-content-body
  .order-content-body-container
  table
  .inputWhisper
  input {
  height: 50px;
  width: 100%;
  border: 1px solid rgba(254, 220, 0, 0.5);
}

.inputWhisper,
.main-content
  .order-content
  .order-content-body
  .order-content-body-container
  table
  .inputWhisper
  i {
  position: absolute;
  right: 0;
  color: rgba(255, 255, 255, 0.87);
  display: flex;
  align-items: center;
  width: 50px;
  font-size: 30px !important;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.inputWhisper,
.main-content
  .order-content
  .order-content-body
  .order-content-body-container
  table
  .inputWhisper
  i:hover {
  color: #fedc00;
}

.inputWhisper,
.main-content
  .order-content
  .order-content-body
  .order-content-body-container
  table
  .inputWhisper
  input {
  color: rgba(255, 255, 255, 0.87);
  background-color: #161616;
  font-size: 16px;
  padding: 10px;
  transition: all 0.3s ease-in-out;
}

.main-content
  .order-content
  .order-content-body
  .order-content-body-container
  table
  .inputWhisper
  input:focus {
  border-color: #fedc00 !important;
  outline: 0;
  box-shadow: 0 0 0 0.15rem rgb(254, 220, 0, 0.25);
}

.main-content
  .order-content
  .order-content-body
  .order-content-body-container
  table
  tr.key-selected {
  background-color: transparent;
}

.main-content
  .order-content
  .order-content-body
  .order-content-body-container
  table
  tr {
  transition: all 0.3s ease-in-out;
}
